body,
.content,
.sidebar,
.sidebar-toggle,
.markdown-section {
  background-color: rgba(243, 242, 238, 1) !important;
}

.docsify-copy-code-button {
  background: #f8f8f8 !important;
  color: #7a7a7a !important;
}

.medium-zoom-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
